@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gasoek-one-regular {
  font-family: "Gasoek One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
:root {
    --accent-color: rgb(75, 137, 75);
    --not-readed: rgba(226, 15, 15, 0.8);
    --not-readed-outline: rgb(165, 7, 7);
    --readed: rgba(18, 179, 15, 0.86);
    --readed-outline: rgb(14, 131, 12);
}


body {
    background-color: rgb(230, 230, 230);
    font-family: 'Funnel Sans', sans-serif;
}

.header {
    background-color: var(--accent-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

#add-book-btn {
    background-color: white;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 0.3rem;
    color: var(--accent-color);
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
}

#add-book-btn:hover {
    color: white;
    background-color: rgb(75, 137, 75);
    outline: 2px solid white;
}

.content {
    display: grid;
    padding: 2rem;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
}

/* Styles for DOM elements */

.card {
    background-color: white;
    height: auto;
    border-radius: 10px;
    padding: 1rem 1rem 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

svg {
    height: 125px;
    background-color: rgba(175, 175, 175, 0.5);
    padding: 1rem;
    border-radius: 10px;
}

.card > :first-child > :first-child {
    font-size: 1.5rem;
}

.card > :first-child > :nth-child(2) {
    font-weight: 100;
    color: #606060;
    margin-bottom: 0.5rem;
}

.card > :first-child > :nth-child(3) {
    margin-bottom: 1.5rem;
}
.card > :first-child{
    height: 100%;
    display: grid;
}

.svg-container:hover {
    fill: rgb(212, 0, 0);
    cursor: pointer;
}

.svg-container svg {
    pointer-events: none;
}

.readed-btn {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    justify-self: start;
    align-self: center;
}

.readed {
    background-color: var(--readed);
    outline: 2px solid var(--readed-outline);
}

.not-readed {
    background-color: var(--not-readed);
    outline: 2px solid var(--not-readed-outline);
}
/* Style for the dialog */

dialog {
    margin: auto;
    border-radius: 10px;
    border: 4px solid var(--accent-color);
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.25);
}

dialog > form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

dialog > form > :nth-child(-n+3) {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

dialog > form > :nth-child(-n+3) > input:focus {
    outline: 2px dotted var(--accent-color);
}

dialog > form > :nth-child(4) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

input {
    border: 2px solid #999;
    padding: 0.5rem 1rem;
    border-radius: 3px;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    transition: all 0.1s ease;
    padding: 0;
}

input[type="checkbox"]:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

#dialog-btn {
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--accent-color);
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

#dialog-btn:hover {
    outline: 2px solid var(--accent-color);
    background-color: transparent;
    color: var(--accent-color);
}
